div>.product {
    margin-top: 4rem;
}

div+#product {
    text-align: center;
}

form>button.search-btn {
    right: 2rem;
    position: absolute;
    border-radius: 3rem;
}

a>.clwhite {
    color: #777777;
    display: flex;
    padding-left: 10px;
}

a>.wish {
    display: flex;
    padding-left: 10px;
}

a>i.setasize {
    margin-top: 1rem;
    font-size: 50px;
}

a>i.setgsize {
    font-size: 45px;
    padding-bottom: 2px;
}

a>i.logowidth {
    padding-right: 10px;
    margin-top: 10px;
}

footer>address.addrwidth {
    margin-top: 1rem;
}

body>p.privacytitle {
    margin-top: 1rem;
    margin-left: 1rem;
}

body>div.privacybody {
    margin-left: 1rem;
}

div>div.privacyinfo {
    margin-top: 1.5rem;
    padding-left: 10px;
}

div>div.contactstyle {
    padding-left: 2rem;
}

body>div.contactbody {
    margin-left: 1rem;
    margin-top: 1rem;
}

.contactwidth {
    margin-top: 10px;
}

bold {
    font-weight: bold;
}

div>div+#item_added {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

div>div>a>img.imgcart {
    max-width: 100%;
}

div>div>div.cartprice {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}

a.cart_link {
    color: #525f7f;
}

a.cart_link:hover {
    color: #233dd2;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@media (min-width: 320px) {
    div>.product {
        display: inline-block;
        margin: 1rem;
        margin-top: 3rem;
        width: 95%;
        max-height: 576px;
    }

    form>button.search-btn {
        right: 1.5rem;
        position: absolute;
        border-radius: 3rem;
    }
    div>.product>img {
        max-height: 200px;
    }
    a>.clwhite {
        color: #777777;
    }
}

@media (min-width: 420px) {
    div>.product {
        display: inline-block;
        margin: 1rem;
        margin-top: 3rem;
        width: 95%;
        max-height: 576px;
    }
    form>button.search-btn {
        right: 1.5rem;
        position: absolute;
        border-radius: 3rem;
    }
    div>.product>img {
        max-height: 220px;
    }
    a>.clwhite {
        color: #777777;
    }
}

@media (min-width: 576px) {
    div>.product {
        display: inline-block;
        margin: 1rem;
        margin-top: 3rem;
        width: 85%;
        max-height: 680px;
    }
    form>button.search-btn {
        right: 2rem;
        position: absolute;
        border-radius: 3rem;
    }
    div>.product>img {
        max-height: 220px;
    }
    a>.clwhite {
        color: #777777;
    }
}

@media (min-width: 768px) {
    div>.product {
        display: inline-block;
        margin: 20px;
        margin-top: 3rem;
        width: 95%;
        max-height: 940px;
    }
    form>button.search-btn {
        right: 2rem;
        position: absolute;
        border-radius: 3rem;
    }
    div>.product>img {
        max-height: 240px;
        max-width: 100%;
    }
    a>.clwhite {
        color: #777777;
    }
}

@media (min-width: 992px) {
    div>.product {
        display: inline-block;
        margin: 20px;
        width: 22rem;
        max-height: 480px;
    }
    div>.product>img {
        max-height: 211.79px;
    }
    form>button.search-btn {
        right: 12.75rem;
        position: absolute;
        border-radius: 3rem;
    }
    a>.clwhite {
        color: #ffffff;
    }
    #cart-count {
        color: #ffffff;
    }
}
/* COMPACT CAPTCHA */

.capbox {
	background-color: #BBBBBB;
	background-image: linear-gradient(#BBBBBB, #9E9E9E);
	border: #2A7D05 0px solid;
	border-width: 2px 2px 2px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	padding: 5px 8px 5px 8px;
	border-radius: 4px 4px 4px 4px;
	}

.capbox-inner {
	font: bold 12px arial, sans-serif;
	color: #000000;
	background-color: #E3E3E3;
	margin: 0px auto 0px auto;
	padding: 3px 10px 5px 10px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	}

#CaptchaDiv {
	color: #000000;
	font: normal 25px Impact, Charcoal, arial, sans-serif;
	font-style: italic;
	text-align: center;
	vertical-align: middle;
	background-color: #FFFFFF;
	user-select: none;
	display: inline-block;
	padding: 3px 14px 3px 8px;
	margin-right: 4px;
	border-radius: 4px;
	}

#CaptchaInput {
	border: #38B000 2px solid;
	margin: 3px 0px 1px 0px;
	width: 105px;
	}
