.admodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.top-modal-content {
    float: right;
    background-color: #fefefe;
    margin: -45%, 80%;
    padding: 5px;
    border: 1px solid #888;
    width: 15%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0, 0.17);
    position: relative;
}

.top-close {
    color: #000;
    right: 2rem;
    font-size: 2rem;
    font-weight: bold;
    float: right;
    padding-right: 2px;
}

.promote-close:hover,
.promote-close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

div.carousel-item>div>a>img {
    width: 50px
}